*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
#main-container{
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    flex-wrap: wrap;
    background-image: url("./assets/erros-na-hora-de-pintar-a-parede.webp");
    background-size: cover;
}
#container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}
.container-wall{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    gap: 25px;
}
h1{
    color: #222222;
    text-transform: uppercase;
    font-size: 30px;
}
label{
    color: #222222;
}

input{
    border-radius: 14px;
    border: none;
    padding-left: 10px;
    margin-left: 10px;
}
button{
    height: 30px;
    width: 350px;
    border-radius: 14px;
    border: 1px solid #222222;
    background-color: #396b7a;
    color: white;
    font-size: 18px;
}
button:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}
#container-dashboard-can-paints{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#container-dashboard-can-paints h1{
    color: white;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
li{
    font-size: 22px;
}